[submodule "framework"]
	path = framework
	url = git@github.com:flutter/flutter.git
[submodule "engine"]
	path = engine
	url = git@github.com:flutter/engine.git
[submodule "dart-sdk"]
	path = dart-sdk
	url = git@github.com:dart-lang/sdk
